<script>
  console.log("script");
  if (document.getElementById("marquee")) {
    var laufschrift = document.getElementById("marquee");
    var len = laufschrift.innerHTML.length;
    console.log("len = " + len);
    var nodes = document.getElementById('marquee').getElementsByTagName("span");
    for(var i=0; i<nodes.length; i++) { // weil jeder whitespace als child zählt
        nodes[i].style.animationDuration = len/1000 +"s";
    }
  }
</script>

<div [@flyInOut]="leave ? 'out' : 'in'" class="spacer">
  <h1>Erste Gehversuche mit Angular.</h1>
</div>

<div id="marquee" class="marquee"><span>Der eigentliche Krieg der Sterne findet zwischen zwei Lagern von Nerds statt: Denen, die Star Trek mit Captain Kirk, dem Vulkanier Mr. Spock und Scotty dem Ingenieur bevorzugen, und jenen, die es eher mit Luke, Darth Vader und Chewbacca halten. Wer sich nicht in den unendlichen Weiten, sondern eher in einer weit entfernten Galaxie zu Hause sieht, für den gibt es mit dem Star Wars API einen praktischen Zugriff auf eine umfangreiche Datenbank zu allem Wissenswerten über die Jedi-Saga.</span></div>

<button (click)="leaveClicked()">Leave</button>

<canvas id="my-canvas" width="300" height="300"></canvas>