.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d3;
    color: white;
    font-weight: normal;
  }
  
.spacer {
    flex: 1;
    font-size: medium;
}